In [1]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from ortools.sat.python import cp_model

import pandas as pd
import numpy as np

In [2]:
name1=[]

In [3]:
for i in range (502):
     name1.append(i+1)

In [4]:
#changing column names while importing data
df = pd.read_csv('Course_Student_Association_Matrix.csv',
                 names=name1)

In [5]:
df

,1,2,3,4,5,6,7,8,9,10,...,493,494,495,496,497,498,499,500,501,502
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,NaN,NaN
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,NaN,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,NaN,NaN
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
6,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
8,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,NaN
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
11,0,0,0,0,0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,NaN,NaN
12,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
14,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,NaN,NaN
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,NaN,NaN
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,NaN,NaN
17,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,NaN
18,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,NaN,NaN
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [6]:
#remove the two last column as it stores NaN value
df = df.iloc[:, :-1]
df = df.iloc[:, :-1]

In [7]:
df

,1,2,3,4,5,6,7,8,9,10,...,491,492,493,494,495,496,497,498,499,500
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
time_Slot=4
num_students=500
num_subject=20
max_num_days=60
rooms=6

room_Capacity=50

all_num_students = range(num_students)
all_time_Slot = range(time_Slot)
all_rooms= range(rooms)
all_subject = range(num_subject)
all_days=range(max_num_days)

In [9]:
#creating the model & variable creation
model= cp_model.CpModel()

S={}

for i in range(num_subject):
    for j in range(max_num_days):
             for k in range(time_Slot):
                for l in range(rooms):
                    S[(i,j,k,l)] = model.NewBoolVar("x(%d,%d,%d,%d)" % (i,j,k,l))

In [10]:
#Exam conflict: 2 exams that share students must not occur in the same period. (hard constraint)
for j in range(max_num_days):
        for k in range(time_Slot):
              for s in range (num_students):
                        a=[]
                        for c in range(num_subject):
                            if (df.iloc[(c,s)]==1):
                                a.append(c)
                        model.Add(sum(S[(i,j,k,l)] for i in a for l in range(rooms))<= 1)

In [11]:
# single course should be schedule only once
for i in range(num_subject):
    ex=sum(S[(i,j,k,l)] for j in range(max_num_days) for k in range(time_Slot) for l in range(rooms))
    model.Add(ex==1)

In [12]:
student_per_course=np.count_nonzero(df, axis=1)

#Room capacity: A room's seating capacity must suffice at all times.

for j in range(max_num_days):
        for k in range(time_Slot):
            for l in range(rooms):
                for i in range (num_subject):
                    if (student_per_course[i]>50):#check the room capacity
                        model.Add(S[(i,j,k,l)]==0)

In [13]:
#Shared conflict: Exam should not have to share its room with any other exam
for l in range(rooms):
    for j in range(max_num_days):
             for k in range(time_Slot):
                model.Add(sum(S[(i,j,k,l)] for i in range (num_subject))<= 1)

In [14]:
#Exam number limit constraint: The same student should not have more than 2 exams per day. (hard constraint)
for s in range (num_students):
    a=[]
    for c in range(num_subject):
        if (df.iloc[(c,s)]==1):
            a.append(c)
    for j in range(max_num_days):
                model.Add(sum(S[(i,j,k,l)] for i in a for l in range(rooms) for k in range(time_Slot))<= 2)

In [15]:
#No consecutive exam constraint: The same student should not have 2 exams in a row
for s in range (num_students):
    a=[]
    for c in range(num_subject):
        if (df.iloc[(c,s)]==1):
            a.append(c)
    for j in range(max_num_days):
        sum2=0
        for p in range(time_Slot):
            for k in range(p,p+1):# p & its next consecutive slot p+1
                for i in a:
                    b=sum(S[(i,j,k,l)] for l in range(rooms))
                    sum2=b+sum2
        model.Add(sum2<2)

In [16]:
solver = cp_model.CpSolver()
status = solver.Solve(model)
print(status)

2

In [17]:
day1=[]
t=["10:00 AM - 12:00PM","1:00 PM - 3:00PM","3:00 PM - 5:00PM","5:00 PM - 7:00PM"]
for i in range(num_subject):
    for j in range(max_num_days):
             for k in range(time_Slot):
                for l in range(rooms):
                        if(solver.Value(S[(i,j,k,l)])==1):
                            day1.append(j)
                            print ("course:",i+1,"day",j+1,"time slot",t[(k)],'in room',l+1)

course: 1 day 14 time slot 10:00 AM - 12:00PM in room 2
course: 2 day 14 time slot 10:00 AM - 12:00PM in room 1
course: 3 day 13 time slot 10:00 AM - 12:00PM in room 1
course: 4 day 12 time slot 10:00 AM - 12:00PM in room 1
course: 5 day 11 time slot 10:00 AM - 12:00PM in room 1
course: 6 day 1 time slot 10:00 AM - 12:00PM in room 2
course: 7 day 7 time slot 10:00 AM - 12:00PM in room 2
course: 8 day 10 time slot 10:00 AM - 12:00PM in room 1
course: 9 day 9 time slot 10:00 AM - 12:00PM in room 1
course: 10 day 8 time slot 10:00 AM - 12:00PM in room 1
course: 11 day 7 time slot 10:00 AM - 12:00PM in room 1
course: 12 day 6 time slot 10:00 AM - 12:00PM in room 1
course: 13 day 3 time slot 10:00 AM - 12:00PM in room 2
course: 14 day 5 time slot 10:00 AM - 12:00PM in room 2
course: 15 day 5 time slot 10:00 AM - 12:00PM in room 1
course: 16 day 4 time slot 10:00 AM - 12:00PM in room 2
course: 17 day 4 time slot 10:00 AM - 12:00PM in room 1
course: 18 day 3 time slot 10:00 AM - 12:00PM in room 1
course: 19 day 2 time slot 10:00 AM - 12:00PM in room 1
course: 20 day 1 time slot 10:00 AM - 12:00PM in room 1

In [18]:
days1= list(dict.fromkeys(day1))# remove the duplicate
print("total number of days to schedule without soft constraint:",len(days1))

total number of days to schedule without soft constraint: 14

In [19]:

#soft constrain

#The number of days required for scheduling all the exams should be as minimum as possible(soft constraint)

days=[]
for i in range(num_subject):
    for j in range(max_num_days):
             for k in range(time_Slot):
                for l in range(rooms):
                    if S[(i,j,k,l)]==1:#if its schedule
                        days.append(j)#append the day
days= list(dict.fromkeys(days))# remove the duplicate
model.Minimize(len(days))#minimize the count of days

In [20]:
solver = cp_model.CpSolver()
status = solver.Solve(model)
print(status)

4

In [21]:
results=[]
days2=[]
for i in range(num_subject):
    for j in range(max_num_days):
             for k in range(time_Slot):
                for l in range(rooms):
                        if(solver.Value(S[(i,j,k,l)])==1):
                            results.append([i+1,j+1,t[(k)],l+1])
                            days2.append(j)
                            print ("course:",i+1,"day",j+1,"time slot",t[(k)],'in room',l+1)

course: 1 day 14 time slot 10:00 AM - 12:00PM in room 2
course: 2 day 14 time slot 10:00 AM - 12:00PM in room 1
course: 3 day 13 time slot 10:00 AM - 12:00PM in room 1
course: 4 day 12 time slot 10:00 AM - 12:00PM in room 1
course: 5 day 11 time slot 10:00 AM - 12:00PM in room 1
course: 6 day 1 time slot 10:00 AM - 12:00PM in room 2
course: 7 day 7 time slot 10:00 AM - 12:00PM in room 2
course: 8 day 10 time slot 10:00 AM - 12:00PM in room 1
course: 9 day 9 time slot 10:00 AM - 12:00PM in room 1
course: 10 day 8 time slot 10:00 AM - 12:00PM in room 1
course: 11 day 7 time slot 10:00 AM - 12:00PM in room 1
course: 12 day 6 time slot 10:00 AM - 12:00PM in room 1
course: 13 day 3 time slot 10:00 AM - 12:00PM in room 2
course: 14 day 5 time slot 10:00 AM - 12:00PM in room 2
course: 15 day 5 time slot 10:00 AM - 12:00PM in room 1
course: 16 day 4 time slot 10:00 AM - 12:00PM in room 2
course: 17 day 4 time slot 10:00 AM - 12:00PM in room 1
course: 18 day 3 time slot 10:00 AM - 12:00PM in room 1
course: 19 day 2 time slot 10:00 AM - 12:00PM in room 1
course: 20 day 1 time slot 10:00 AM - 12:00PM in room 1

In [22]:

#importing the results to CSV
import csv

Results1=pd.DataFrame(results)
Results1.columns = ["Course", "Day", "Time_slot", "Room_no"]
Results1.to_csv('Results.csv',index=False)

In [23]:
days2= list(dict.fromkeys(days2))# remove the duplicate
print("total number of days to schedule with soft constraint:",len(days2))

total number of days to schedule with soft constraint: 14